body{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 50px;
}
.product-order{
    flex: 1;
    text-transform: capitalize;
    border: 1px solid;
    height: 100vh;
    font-size: 30px;
    
}
.product-order ul{
    padding: 20px;
    margin-top: 50px;
}
.product-order li{
    list-style-type: none;
    border: 1px solid;
    text-align: center;
    margin-right:10px;
    padding: 5px 10px;
}
main{
    flex: 3;
    text-transform: capitalize;
    border: 1px solid;
    height: 100vh;
}
main .menu-admin{
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px 0;
}
main .list-users{
    padding: 50% 20%;
}